.wrapper-notFound {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: minmax(1fr, auto);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    text-align: center;
    font-size: 10vh;
    height: 91.5vh;
}

.wrapper-notFound img {
    position: relative;
    top: 2%;
    width: 30%;
    height: 85%;
}

.description-notFound {
    margin-top: -6%;
}

.description-notFound span {
    font-weight: 800;
    font-size: 65%;
    font-family: Nunito;
    color: #34363E;
}

.description-notFound p {
    margin: 0 auto;
    font-size: 30%;
    font-weight: 500;
    color: #54585E;
    width: 50%;
}

.ellipse-notFound {
    margin: 0 auto;
    position: relative;
    background: #215BFD;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    width: 25%;
    height: 35%;
}

.ellipse-notFound:hover {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
    padding: 5px;
}

.back-notFound {
    font-size: 20%;
    padding: 3%;
}

.back-notFound a {
    text-decoration: none;
    color: white;
}