.wrapper-faculty {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.wrapper-faculty.active {
    opacity: 1;
    pointer-events: all;
}

.faculty-content {
    display: grid;
    grid-template-rows: 0.9fr 1fr;
    grid-auto-rows: minmax(1fr, auto);
    font-size: 10vh;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 5px 40px 100px 11px rgba(0, 0, 0, 0.25);
    border-radius: 40px 20px 20px 40px;
    width: 80vw;
    height: 90vh;
    transform: scale(1);
}

.top-faculty {
    display: grid;
    grid-template-rows: 1fr 1.6fr;
    grid-auto-rows: minmax(1fr, auto);
    background-color: #F4F7FF;
}

.name-faculty {
    margin: 0 auto;
    position: relative;
    top: 16%;
}

.name-faculty img {
    width: 30%;
    position: absolute;
    margin: -8vh  -68vh;
}

.name-faculty div {
    background-color: #DBEDFE;
    border-radius: 12px;
    margin: 0 auto;
    width: 22%;
}

.name-faculty div p {
    padding: 8%;
    font-weight: 600;
    font-size: 18px;
    color: #3877CD;
    text-align: center;
}

.name-faculty span {
    display: inline-block;
    font-size: 60px;
    vertical-align: top;
    color: #323449;
}

.name-faculty hr {
    border: none;
    background-color: #6787C1;
    border-radius: 2px;
    height: 3px;
    width: 55%;
    position: relative;
}

.box-faculty {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: minmax(1fr, auto);
    align-self: center;
    justify-items: center;
}

.box-faculty div {
    display: grid;
    background-color: white;
    width: 80%;
    border-radius: 15px;
    box-shadow: 1px 6px 20px 2px rgba(0, 0, 0, 0.15);
}

.box-faculty img {
    width: 14%;
    padding: 5% 0 0 5%;
}

.box-faculty span {
    text-indent: 6%;
    position: relative;
    top: 40%;
    font-weight: bold;
    font-size: 24px;
}

.box-faculty p {
    font-size: 16px;
    color: #54585E;
    padding: 6%;
    line-height: 26px;
}

.bottom-faculty {
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: white;
    width: 100%;
}

.name-bottom {
    margin: 0 auto;
    position: relative;
    top: 6%;
}

.name-bottom div {
    background-color: #DBEDFE;
    border-radius: 12px;
    margin: 0 auto;
    width: 16%;
}

.name-bottom div p {
    padding: 8%;
    font-weight: 600;
    font-size: 18px;
    color: #3877CD;
    text-align: center;
}

.name-bottom span {
    display: inline-block;
    font-size: 56px;
    vertical-align: top;
    color: #323449;
}

.name-bottom hr {
    border: none;
    background-color: #6787C1;
    border-radius: 2px;
    height: 3px;
    width: 35%;
    position: relative;
}

.disciplines-faculty {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: minmax(1fr, auto);
    box-shadow: 1px 6px 25px 1px rgba(0, 0, 0, 0.12);
    font-size: 34px;
    align-self: center;
    justify-items: center;
    border-radius: 10px;
    color: #323449;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.discipline-fac {
    width: 100%;
    background-color: #F4F7FF;
}

@media screen and (max-width: 1440px) {
    .name-faculty img {
        width: 25%;
        position: absolute;
        margin: -8vh  -68vh;
    }
}

@media screen and (max-width: 1024px) {
    .name-faculty img {
        margin: -9vh -36vh;
    }

    .top-faculty {
        height: 100%;
        grid-template-rows: 1fr 1.8fr;
    }

    .box-faculty span {
        font-size: 20px;
    }

    .box-faculty img {
        width: 18%;
    }

    .box-faculty p {
        font-size: 16px;
    }

    .name-bottom div {
        width: 20%;
    }

    .name-bottom div p {
        font-size: 17px;
    }

    .name-bottom span {
        font-size: 42px;
    }

    .disciplines-faculty {
        font-size: 27px;
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .top-faculty {
        grid-template-rows: 1fr 1.9fr;
    }
    .name-faculty div p {
        font-size: 16px;
    }

    .name-faculty span {
        font-size: 50px;
    }

    .name-faculty img {
        margin: -8vh -23vh;
    }

    .box-faculty img {
        width: 22%;
    }

    .box-faculty span {
        font-size: 15px;
    }

    .box-faculty p {
        font-size: 13px;
    }

    .name-bottom div p {
        font-size: 13px;
    }

    .name-bottom span {
        font-size: 32px;
    }

    .disciplines-faculty {
        font-size: 22px;
    }

    .bottom-faculty {
        grid-template-rows: 1fr 1.5fr;
    }
}

@media screen and (max-width: 450px) {
    .wrapper-faculty {
        height: 100vh;
        grid-template-rows: 2fr 1fr;
    }

    .top-faculty {
        grid-template-rows: 1fr 3.5fr;
    }

    .name-faculty {
        height: 100%;
    }

    .name-faculty img {
        width: 31%;
        margin: -8vh -3.5vh;
    }

    .name-faculty div p {
        font-size: 12px;
    }

    .name-faculty span {
        font-size: 38px;
    }

    .box-faculty {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 3%;
        margin-bottom: 20%;
    }

    .box-faculty img {
        width: 15%;
    }

    .box-faculty span {
        font-size: 20px;
    }

    .name-bottom {
        top: 20%;
    }

    .name-bottom div {
        width: 32%;
    }

    .name-bottom div p {
        padding: 8%;
        font-size: 12px;
    }

    .name-bottom span {
        text-align: center;
        font-size: 28px;
    }

    .disciplines-faculty {
        font-size: 18px;
    }

    .bottom-faculty {
        grid-template-rows: 1fr 2.2fr;
    }
}

@media screen and (max-width: 376px) {
    .top-faculty {
        grid-template-rows: 1fr 3.8fr;
    }

    .name-faculty span {
        font-size: 34px;
    }

    .name-faculty div {
        width: 25%;
    }

    .name-faculty div p {
        font-size: 12px;
    }

    .name-faculty img {
        width: 32%;
    }

    .name-bottom div {
        width: 35%;
    }

    .name-bottom div p {
        font-size: 12px;
    }

    .name-bottom span {
        font-size: 24px;
    }
}

@media screen and (max-width: 321px) {
    .name-faculty img {
        width: 33%;
    }
    .name-faculty span {
        font-size: 26px;
    }

    .name-faculty div {
        width: 32%;
    }

    .name-faculty div p {
        font-size: 11px;
    }

    .box-faculty span {
        font-size: 18px;
    }

    .name-bottom span {
        font-size: 20px;
    }

    .name-bottom div p {
        font-size: 10px;
    }

    .disciplines-faculty {
        font-size: 17px;
    }

    .bottom-faculty {
        grid-template-rows: 1fr 2fr;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: auto;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #0080ff;
    border: 0px none #ffffff;
    border-radius: 50px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #09123c), color-stop(1.00, #0e3e8d));
    background: -webkit-linear-gradient(#09123c, #0e3e8d);
    background: -moz-linear-gradient(#09123c, #0e3e8d);
    background: -o-linear-gradient(#09123c, #0e3e8d);
    background: -ms-linear-gradient(#09123c, #0e3e8d);
    background: linear-gradient(#09123c, #0e3e8d);
}
::-webkit-scrollbar-thumb:hover {
    background: #0000a0;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #e2e2e2;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
