.wrapper-faculty {
    display: grid;
    grid-template-rows: 0.9fr 1fr;
    grid-auto-rows: minmax(1fr, auto);
    font-size: 10vh;
    width: 100%;
    height: 100%;
}

.top-faculty {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    grid-auto-rows: minmax(1fr, auto);
    background-color: #F4F7FF;
}

.name-faculty {
    margin: 0 auto;
    position: relative;
    top: 16%;
}

.name-faculty img {
    width: 30%;
    position: absolute;
    margin: -8vh  -68vh;
}

.name-faculty div {
    background-color: #DBEDFE;
    border-radius: 12px;
    margin: 0 auto;
    width: 25%;
}

.name-faculty div p {
    padding: 8%;
    font-weight: 600;
    font-size: 20px;
    color: #3877CD;
    text-align: center;
}

.name-faculty span {
    display: inline-block;
    font-size: 60px;
    vertical-align: top;
    color: #323449;
}

.name-faculty hr {
    border: none;
    background-color: #6787C1;
    border-radius: 2px;
    height: 3px;
    width: 55%;
    position: relative;
}

.box-faculty {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: minmax(1fr, auto);
    align-self: center;
    justify-items: center;
}

.box-faculty div {
    display: grid;
    background-color: white;
    width: 80%;
    border-radius: 15px;
    box-shadow: 1px 6px 20px 2px rgba(0, 0, 0, 0.15);
}

.box-faculty img {
    width: 14%;
    padding: 5% 0 0 5%;
}

.box-faculty span {
    text-indent: 6%;
    position: relative;
    top: 40%;
    font-weight: bold;
    font-size: 24px;
}

.box-faculty p {
    font-size: 16px;
    color: #54585E;
    padding: 6%;
    line-height: 26px;
}

.bottom-faculty {
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: white;
    width: 100%;
}

.name-bottom {
    margin: 0 auto;
    position: relative;
    top: 6%;
}

.name-bottom div {
    background-color: #DBEDFE;
    border-radius: 12px;
    margin: 0 auto;
    width: 17%;
}

.name-bottom div p {
    padding: 8%;
    font-weight: 600;
    font-size: 20px;
    color: #3877CD;
    text-align: center;
}

.name-bottom span {
    display: inline-block;
    font-size: 60px;
    vertical-align: top;
    color: #323449;
}

.name-bottom hr {
    border: none;
    background-color: #6787C1;
    border-radius: 2px;
    height: 3px;
    width: 35%;
    position: relative;
}

.disciplines-faculty {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: minmax(1fr, auto);
    box-shadow: 1px 6px 25px 1px rgba(0, 0, 0, 0.12);
    font-size: 34px;
    align-self: center;
    justify-items: center;
    border-radius: 10px;
    color: #323449;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.discipline-fac {
    width: 100%;
    background-color: #F4F7FF;
}

@media screen and (max-width: 1440px) {
    .name-faculty img {
        width: 25%;
        position: absolute;
        margin: -8vh  -68vh;
    }
}

@media screen and (max-width: 1024px) {
    .name-faculty img {
        margin: -9vh -36vh;
    }

    .top-faculty {
        height: 100%;
    }

    .box-faculty span {
        font-size: 22px;
    }

    .name-bottom div {
        width: 20%;
    }

    .name-bottom div p {
        font-size: 18px;
    }

    .name-bottom span {
        font-size: 45px;
    }

    .disciplines-faculty {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .top-faculty {
        grid-template-rows: 1fr 1.9fr;
    }
    .name-faculty div p {
        font-size: 18px;
    }

    .name-faculty span {
        font-size: 50px;
    }

    .name-faculty img {
        margin: -8vh -23vh;
    }

    .box-faculty img {
        width: 18%;
    }

    .box-faculty span {
        font-size: 17px;
    }

    .box-faculty p {
        font-size: 14px;
    }

    .name-bottom div p {
        font-size: 15px;
    }

    .name-bottom span {
        font-size: 36px;
    }

    .disciplines-faculty {
        font-size: 26px;
    }

    .bottom-faculty {
        grid-template-rows: 1fr 2.3fr;
    }
}

@media screen and (max-width: 450px) {
    .wrapper-faculty {
        height: 100vh;
        grid-template-rows: 2fr 1fr;
    }

    .top-faculty {
        grid-template-rows: 1fr 3.5fr;
    }

    .name-faculty {
        height: 100%;
    }

    .name-faculty img {
        width: 31%;
        margin: -8vh -3.5vh;
    }

    .name-faculty div p {
        font-size: 14px;
    }

    .name-faculty span {
        font-size: 42px;
    }

    .box-faculty {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 3%;
        margin-bottom: 20%;
    }

    .box-faculty img {
        width: 15%;
    }

    .box-faculty span {
        font-size: 20px;
    }

    .name-bottom {
        top: 20%;
    }

    .name-bottom div {
        width: 32%;
    }

    .name-bottom div p {
        padding: 8%;
        font-size: 14px;
    }

    .name-bottom span {
        text-align: center;
        font-size: 30px;
    }

    .disciplines-faculty {
        font-size: 20px;
    }

    .bottom-faculty {
        grid-template-rows: 1fr 2.2fr;
    }
}

@media screen and (max-width: 376px) {
    .top-faculty {
        grid-template-rows: 1fr 3.8fr;
    }

    .name-faculty span {
        font-size: 36px;
    }

    .name-faculty div p {
        font-size: 13px;
    }

    .name-faculty img {
        width: 32%;
    }

    .name-bottom div p {
        font-size: 12px;
    }

    .name-bottom span {
        font-size: 28px;
    }
}

@media screen and (max-width: 321px) {
    .name-faculty img {
        width: 33%;
    }
    .name-faculty span {
        font-size: 32px;
    }

    .name-faculty div p {
        font-size: 11px;
    }

    .name-bottom span {
        font-size: 24px;
    }

    .name-bottom div p {
        font-size: 10px;
    }

    .disciplines-faculty {
        font-size: 17px;
    }

    .bottom-faculty {
        grid-template-rows: 1fr 2fr;
    }
}