.Buttons{
   width: 40%;
   padding: 0%;
   margin: 0%;
}

.mainHeader{
   padding-top: 39px;
   justify-content: space-between;
   display: flex;
   width: 100vw;
   height: 10vh;
}

.nav{
   flex:auto

}

.butt {
   display: inline;
  justify-content: stretch;
  padding-right: 4%;
}

.navigation{
   justify-content:flex-end;
   display: flex;
   height: 6vh;
}

.Registrationbutton{
   padding: 4%;
   margin: 0 auto;
   color: white;
   font-size: 100%;
   background-color: #0044e2;
   border-radius: 6px;
   height: 20%;
   border: 0;
   width: 50%;
   box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
   text-decoration: none; 

}

.cactive {
   color: #0066FF;
   text-decoration: none; 

 }

 .c{
   text-decoration: none; 
 }

 .c :visited{
   color :white;
   text-decoration: none; 

}

.myButton {
 border: 0;
 background-color: transparent;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 justify-content: flex-end;
 height: 6vh;
 border-radius: 4px;
}

.Buttons{
   display: inline-block;
   margin: 1em;

}

.myButton:hover {
 color: #0066FF;
}

.container {
 justify-content: right;
display: flex;
}

