
.main-header {
    display: flex;
    background-color: #FFFF;
    width: 100%;
    border-bottom: 3px solid #e5e5e5;
    align-items: center;
    justify-content:space-evenly;
    height: 60px;
    position: relative;
    bottom: 0;
}

.signIn {
   display: flex;
   justify-content: center;
   align-items: center;
}

.myButton {
   border: 0;
   background-color: transparent;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 25px;
}

.myButton:hover {
   border-bottom: 2px green solid;
}

.myButton span.icon {
   background: url(../../Source/images/acccircle.png) no-repeat right;
   float: right;
   width: 24px;
   height: 24px;
}
