.main-footer {
  max-width: 100vw;
  max-height: 5vh;
  color: #464646;
  background-color: #F4F4F4;
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-bottom: 2vh;
  padding-right: 5vw;
}

.text-p {
  text-align: 'right';
}