.wrapper-acc {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: minmax(1fr, auto);
    grid-auto-columns: minmax(1fr, auto);

    height: 86.5vh;
    background-color: rgba(255,247,251,0.4);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vh;
}

.box-acc {
    width: 60%;
    height: 92%;
    align-self: center;
    justify-self: center;
    background: #FFFDFD;
    box-shadow: 1px 1px 12px 12px rgba(0, 0, 0, 0.3);
    border-radius: 1.3em;
}

.greeting-acc {
    font-size: 35%;
    text-align: center;
    padding: 3% 1% 1% 1%;
    margin-bottom: -2%;
}

.icon-acc {
    text-align: center;
}

.icon-acc img {
    width: 20%;
}

.center-acc {
    padding-left: 19%;
}

.name-span {
    text-align: center;
    font-size: 30%;
    padding-top: 7%;
    height: 1%;
    margin-bottom: -2%;
}

.center-acc li {
    background-color: #599087;
    font-size: 33%;
    width: 70%;
    margin-bottom: 4%;
    border-radius: 1em;
    text-align: center;
    color: #599087;
    list-style-type: none;
}

.center-acc a {
    right: 10%;
    font-size: 85%;
    color: azure;
    text-decoration: none;
}
