.wrapper-description {
    display: grid;
    grid-template-columns: repeat(2, [col] 1fr);
    grid-auto-rows: minmax(1fr, auto);
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vh;
    height: 90vh;
}

.img-description {
    width: 70%;
    height: 70%;
    padding: 12% 1% 1% 20%;
}

.box-description {
    grid-column: col 2 / span 2;
    text-align: center;
}

.box-description span {
    position: relative;
    top: 26%;
    font-weight: 800;
    font-size: 60px;
    padding-right: 30%;
    color: #34363E;
    font-family: Nunito;
}

.box-description p {
    position: relative;
    top: 27%;
    font-size: 24px;
    text-align: left;
    width: 80%;
    padding-right: 15%;
    color: #54585E;
    line-height: 1.4em;
}