.wrapper-description {
    display: grid;
    grid-template-columns: repeat(2, [col] 1fr);
    grid-auto-rows: minmax(1fr, auto);
    background-color: white;
    font-size: 10vh;
    height: 90vh;
}

.img-description {
    width: 75%;
    height: 80%;
    padding: 8% 1% 1% 20%;
}

.box-description {
    grid-column: 2;
    text-align: center;
}

.box-description span {
    position: relative;
    top: 25%;
    font-weight: 600;
    font-size: 46px;
    color: #34363E;
}

.box-description p {
    display: inline-block;
    position: relative;
    text-align: center;
    top: 25%;
    font-size: 18px;
    width: 80%;
    color: #54585E;
    line-height: 33px;
}

@media screen and (max-width: 1024px) {
    .img-description {
        position: relative;
        width: 85%;
        height: 70%;
        padding-left: 10%;
        top: 5%;
    }

    .box-description span {
        top: 25%;
        font-size: 40px;
    }

    .box-description p {
        font-size: 16px;
        top: 22%;
    }
}

@media screen and (max-width: 768px) {
    .img-description {
        top: 8%;
    }

    .box-description span {
        top: 23%;
        font-size: 38px;
    }

    .box-description p {
        font-size: 14px;
        top: 20%;
        padding: 0px;
    }
}

@media screen and (max-width: 450px) {
    .wrapper-description {
        display: list-item;
    }

    .img-description {
        height: 40%;
        width: 80%;
        margin-bottom: 5%;
    }

    .box-description span {
        width: 80%;
    }

    .box-description p {
        width: 90%;
        font-size: 16px;
        padding: 0px;
    }
}

@media screen and (max-width: 376px) {
    .img-description {
        height: 40%;
        width: 80%;
        margin-bottom: 5%;
    }

    .box-description span {
        width: 80%;
    }

    .box-description p {
        width: 90%;
        font-size: 14px;
        padding: 0px;
    }
}

@media screen and (max-width: 321px) {
    .img-description {
        height: 40%;
        width: 80%;
        margin-bottom: 5%;
    }

    .box-description span {
        font-size: 32px;
        width: 80%;
    }

    .box-description p {
        width: 90%;
        font-size: 14px;
        padding: 0px;
    }
}