.input {
  width: 100%;

  .MuiInputBase-input::placeholder {
    padding-left: 0;
  }
}

.input-password-error {
  width: 100%;

  .MuiOutlinedInput-root {
    height: 5vh;
    border: 1px red solid;
  }

  fieldset {
    border: none;
  }
}





